@model SurveyDetailViewModel
@{
    ViewData["Title"] = "ConsultSurveyDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("ConsultSurveyDetails", "Survey", FormMethod.Post, new { @class = "js-form-consultSurveyDetails-Survey" }))
        {
            <div class="container-fluid" data-url="">
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading">Détail formlaire</div>
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="form-group row panel-body" id="form-head" style="margin-bottom:20px;">
                                    <div class="col-md-1">
                                        Nom :
                                    </div>
                                    <div class="col-md-11">

                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @disabled = true })

                                    </div>
                                </div>
                            </div>

                            @{
                                int i = 0;
                            }
                            
                            @foreach (var questionGrouped in Model.SurveySelectedQuestions.GroupBy(q => q.CategoryName))
                            {
                                <h3><span class="label label-info col-xs-offset-1 text-center"> @questionGrouped.Key</span></h3>
                                <div class="form-group col-md-12">

                                    @foreach (var questionVM in questionGrouped.ToList())
                                    {
                                        i++;
                                        switch (questionVM.TypeName)
                                        {
                                            case "Question-Reponse":
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-4 text-center">@Html.ActionLink("modifier", "Edit", "Question", new { questionId = questionVM.Id })</div>
                                                            <div class="col-xs-4 text-center"> Question-Reponse</div>
                                                            <div class="col-xs-4 text-center">@Html.ActionLink("supprimer", "ConfirmDeleteOrNo", new { questionId = questionVM.Id })</div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div>
                                                            <label>Question @i: </label>@questionVM.Content
                                                        </div>

                                                    </div>
                                                </div>
                                                break;

                                            case "QCM":
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                          
                                                            <div class="col-xs-4 text-center ">@Html.ActionLink("modifier", "Edit", "Question", new { questionId = questionVM.Id })</div>
                                                            <div class="col-xs-4 text-center">QCM</div>
                                                            <div class="col-xs-4 text-center">@Html.ActionLink("supprimer", "ConfirmDeleteOrNo", new { questionId = questionVM.Id })</div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        
                                                            <label>Question @i: </label>@questionVM.Content
                                                        

                                                        @foreach (var answer in questionVM.QuestionAnswerList)
                                                        {
                                                            <div class="">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="answer_@answer.Id">
                                                                    <label class="form-check-label" for="answer_@answer.Id">
                                                                        @answer.AnswerContent
                                                                    </label>
                                                                </div>

                                                            </div>
                                                        }
                                                    </div>
                                                </div>

                                                break;
                                        }
                                    }
                                </div>

                            }

                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
    <div class="row col-xs-12 ">
        <button id="js-btn-goBack-survey-consult" class="btn btn-default col-xs-6">Retour à la liste</button>
        <button id="js-btn-print-survey" class="btn btn-default col-xs-6">imprimer</button>
    </div>
</div>
@section Scripts
    {
    <script>
    $(document).ready(function () {
        $("#js-btn-goBack-survey-consult").click(function () {
            location.href = '@Url.Action("SurveyList", "Survey")';
        });
        });

        $(document).ready(function () {
            $("#js-btn-print-survey").click(function () {
            location.href = '@Html.Raw(Url.Action("PrintSurvey", "Survey", new {  }))';
        });
    });
    </script>
}