@model CreateConfirmationSurveyViewModel
@{
    ViewData["Title"] = "Liste des questions";
    Layout = null;
    int i = 0;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Questionnaire</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div ><img src="/Images/logo.png" /></div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <p contenteditable>@Model.Name</p>
            </div>

            <div class="col-xs-6">
                <h3>Questionnaire</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <table> 
                        <tr>
                            <th>Navigation Front</th>
                        </tr>
                        <tr>
                            <th>Equipe</th>
                            <td>Navigation</td>
                        </tr>
                </table>
            </div>

            <div class="col-xs-6">
                <table>
                    <tr>
                        <th>Date</th>
                        <td>@Model.Date</td>
                    </tr>
                </table>
            </div>
        </div>


        @foreach (var questionGrouped in Model.SurveySelectedQuestions.GroupBy(q => q.CategoryName))
        {
            <h3><span class="label label-info"> @questionGrouped.Key</span></h3>
            <div class="form-group col-md-12">

                @foreach (var questionVM in questionGrouped.ToList())
                {
                    i++;
                    switch (questionVM.TypeName)
                    {
                        case "Question-Reponse":

                            <div class="form-group row">
                                <label>Question @i: </label>@questionVM.Content
                            </div>
                            <div class="form-group row">
                                <textarea class="form-control" readonly rows="4"></textarea>
                            </div>
                            break;

                        case "QCM":

                            <div class="form-group row">
                                <label>Question @i: </label>@questionVM.Content
                            </div>

                            @foreach (var answer in questionVM.QuestionAnswerList)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="answer_@answer.Id">
                                    <label class="form-check-label" for="answer_@answer.Id">
                                        @answer.AnswerContent
                                    </label>
                                </div>
                            }
                            break;
                    }
                }
            </div>

        }

    </div>
</body>
</html> 